[2021-11-28 12:27] #462 closed

[2021-11-28 12:27] #441 closed

[2021-11-28 12:28] #433 closed

[2021-11-28 12:33] mwydmuch commented on #426
An old issue with no response from the author, closing.

[2021-11-28 12:33] #426 closed

[2021-11-28 12:35] mwydmuch commented on #421
Old and with no response from the author. Closing.

[2021-11-28 12:35] #421 closed

[2021-11-28 12:35] mwydmuch commented on #413
Old, closing.

[2021-11-28 12:35] #413 closed

[2021-11-28 12:38] mwydmuch commented on #483
We released a new version with better support for the native Windows version and WSL. Closing.

[2021-11-28 12:38] #483 closed

[2021-12-06 08:31] libphy commented on #492
Thank you!

[2021-12-06 08:31] #492 closed

[2021-12-07 10:00] marcopremigit opened #493 "ERROR: can't build docker image"
Hello everyone and thanks for your work!
I'm trying to build the docker image (I'm on Ubuntu 20.04), but during building I'm getting this error:

[code]
I tried both with  tensorflow and python3 image.

[2021-12-07 10:17] Miffyli commented on #493
Seems like you are using Python 3.5, which I am not sure if it is supported. I would try installing a newer Python (e.g. 3.8 or even 3.10) and trying with that :).

[2021-12-07 10:24] marcopremigit commented on #493
I'm using Python 3.9.5.

[2021-12-07 10:27] Miffyli commented on #493
Hmm this here seems to indicate that it is using a different Python version:

`"/usr/local/lib/python3.5/dist-packages/pip/_internal/cli/main.py"

And that would make sense since format strings (`f"like {this}"`) are not supported by Python 3.6.

[2021-12-07 11:57] marcopremigit commented on #493
Following your suggestion, I've modified the Dockerfile to use python 3.9 and the problem was solved.
Now I've the same problem as #491 , but I will post in that issue page. Thank you!

[2021-12-07 11:57] #493 closed

[2021-12-07 12:03] marcopremigit commented on #491
Hi, I have the same problem using a Dockerfile (the tensorflow one). As explained in #493 I've modified the Dockerfile to use python 3.9 because it wasn't building. Running `pip3 install ${HOME_DIR}/vizdoom` it outputs:
`  ERROR: Failed building wheel for vizdoom
   Failed to build vizdoom
   ERROR: Could not build wheels for vizdoom, which is required to install pyproject.toml-based projects
`
I'

[2021-12-07 12:22] mwydmuch commented on #491
Hi @marcopremigit, could you post your Dockerfile?

[2021-12-07 12:30] marcopremigit commented on #491
FROM ubuntu:16.04

FROM nvidia/cuda:8.0-cudnn5-devel

# ViZdoom dependencies
RUN apt-get update
RUN apt-get install -y \
    build-essential \
    bzip2 \
    cmake \
    curl \
    git \
    libboost-all-dev \
    libbz2-dev \
    libfluidsynth-dev \
    libfreetype6-dev \
    libgme-dev \
    libgtk2.0-dev \
    libjpeg-dev \
    libopenal-dev \
    libpng12-dev \
    libsdl2-dev \
    libwildmi

[2021-12-07 12:30] marcopremigit commented on #491
`FROM ubuntu:16.04

FROM nvidia/cuda:8.0-cudnn5-devel

# ViZdoom dependencies
RUN apt-get update
RUN apt-get install -y \
    build-essential \
    bzip2 \
    cmake \
    curl \
    git \
    libboost-all-dev \
    libbz2-dev \
    libfluidsynth-dev \
    libfreetype6-dev \
    libgme-dev \
    libgtk2.0-dev \
    libjpeg-dev \
    libopenal-dev \
    libpng12-dev \
    libsdl2-dev \
    libwildm

[2021-12-07 12:35] marcopremigit commented on #491
[https://gist.github.com/marcopremigit/4693cd89e23644db9990a1fedcbb626d](url)

[2021-12-07 13:57] mwydmuch commented on #491
Thank you @marcopremigit. I will test this one in a few hours' time to get detailed logs. But just looking at it, I suspect that this:
[code]
may not be a reliable way to set python3.9 as default, when you would also like to build software that links to Python dev libraries.

I see your Dockerfile is based on our old Dockerfile: https://github.com/mwydmuch/ViZDoom/blob/master/docker/tensorflow/Doc

[2021-12-07 15:20] marcopremigit commented on #491
@mwydmuch I've updated the Dockerfile with Ubuntu 20.04 and nvidia/cuda version (and changed  libpng12-dev into libpng-dev). You can find it here: [https://gist.github.com/marcopremigit/aadabd045ec128f266e5435b833d073a](url)
The problem now is that if I run `python3 learning_tensorflow.py `  from examples/python I get this:

`2021-12-07 15:18:13.905938: I tensorflow/stream_executor/cuda/cuda_gpu_e

[2021-12-08 02:00] mwydmuch commented on #491
@marcopremigit I tested your Dockerfile, everything is ok with it, you are probably doing something like this:
[code]
The vizdoom directory is created when building the image, so it belongs to a root user. During run you are a non-root user, so you don't have permission to write in this directory.

Just run: `python3 vizdoom/examples/python/basic.py` from home and it will work or add required perm

[2021-12-08 11:00] marcopremigit commented on #491
You are right, thank you!
basic.py now is working, but I still have problems with learning_tensorflow.py:
`vizdoom@marco-MS-7C56:~$ python3 vizdoom/examples/python/learning_tensorflow.py
2021-12-08 09:39:13.471462: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:939] successful NUMA node read from SysFS had negative value (-1), but there must be at least one NUMA node, so returning NUMA nod

[2021-12-08 11:14] mwydmuch commented on #491
@marcopremigit just fix path to `scenarios/simpler_basic.cfg` in `vizdoom/examples/python/learning_tensorflow.py` in line 50.

Tip: you can have multi-line code blocks in markdown by using: <code>```</code> instead of single <code>`</code>

[2021-12-08 11:17] mwydmuch commented on #491
@marcopremigit also these are not related at all to the original issue, I'm closing this one, please open a new issue for docker-real problems if you need.

[2021-12-08 11:17] #491 closed

[2021-12-13 01:35] bulaciox opened #494 "Position of the bots"
I'm doing a class work consisting in a GOAP planner for VizDoom and to do it I need to find the position of the bots to be able to take actions against them, I've read a post which says that "objects_and_map.py" shows how to get information from the objects but I don't understand it.Could someone give me an example of how to get the position of the bots?

[2021-12-13 11:59] Miffyli commented on #494
This is the part you are looking for:

https://github.com/mwydmuch/ViZDoom/blob/f73e8a2c2bafc0646118c1515ff6000f10b22e7c/examples/python/objects_and_sectors.py#L61-L74

You would have to print out what are the names of the objects, find the name you are interested (i.e. replace `o.name == "DoomPlayer"` with another string you look for) and plot them out / store the coordinates for your further pro

[2021-12-13 14:44] mwydmuch commented on #494
Hi @bulaciox, as Miffyli said. After enabling objects information (`game.set_objects_info_enabled(True)`), you can access `state.objects` that is a list containing the basic information about objects, including: the unique identifier of the object instance (`id`), the name of the object class (`name`) and position-related information (x, y, z coordinates, rotation, and velocity). All players takin

[2021-12-13 14:49] mwydmuch commented on #494
Here is a modified `cig_multiplayer_bots.py` example that prints positions of all players - bots, including the player.
https://gist.github.com/mwydmuch/b3b243242b071ba209c5467549a16ded

[2021-12-19 08:58] hamid2026 commented on #491
Hello @mwydmuch I have the same problem, and your fixed version did not work for me, I am getting the same error?

[2021-12-19 10:12] Miffyli commented on #491
@hamid2026 Please share the all the steps you did, including the full error log and your system information (see comments above). If it is a different error from the _original_ post of this issue, please open a new issue.

[2021-12-19 10:25] hamid2026 commented on #491
@Miffyli When I try to install the vizdoom using 'pip install',same error raised that :

I am copy the full log below: (I am sure I installed all dependencies in the link below, OS: Ubuntu 20.04.3 LTS)

 Installation failed, you may be missing some dependencies.
  Please check https://github.com/mwydmuch/ViZDoom/blob/master/doc/Building.md for details

  Traceback (most recent call last):
    File

[2021-12-19 10:28] Miffyli commented on #491
@hamid2026 We would like to have the _full_ log, including the build errors. The Python part provides very little information. Also try `pip install git+https://github.com/mwydmuch/ViZDoom.git` just in case (if you have not tried it yet).

[2021-12-19 10:33] hamid2026 commented on #491
@Miffyli I tried this pip install git+https://github.com/mwydmuch/ViZDoom.git. The full log with build errors is given below.

/tmp/pip-install-0nn_j49m/vizdoom_a8f1c39baa5445028f9bca7ed6abd4e1/src/vizdoom/game-music-emu/gme/Nes_Cpu.cpp:782:2: note: here
    782 |  case 0xC6: // DEC zp
        |  ^~~~
  /tmp/pip-install-0nn_j49m/vizdoom_a8f1c39baa5445028f9bca7ed6abd4e1/src/vizdoom/game-music-emu/g

[2021-12-19 10:37] Miffyli commented on #491
Hmm that log does not tell much, sadly :(. I would recommend double-checking that you have installed all the dependencies correctly and then skim through the full log (this was truncated log) to find the error part (not just a warning) for more info.
With correct dependencies the installation does work (Ubuntu 20.04).

[2021-12-19 11:24] hamid2026 commented on #491
@Miffyli here is the full error log :)

 Building wheel for vizdoom (PEP 517) ... error
  ERROR: Command errored out with exit status 1:
   command: /home/hamid/anaconda3/envs/my_env_Vizdoom_T1/bin/python /home/hamid/anaconda3/envs/my_env_Vizdoom_T1/lib/python3.6/site-packages/pip/_vendor/pep517/in_process/_in_process.py build_wheel /tmp/tmplok1aqbv
       cwd: /tmp/pip-install-qpckvbsg/vizdoom_a2

[2021-12-19 13:15] mwydmuch commented on #491
Hi @hamid2026, the error is here:
[code]

This means, that there is a problem when linking to libc (for example it links to the old version than required).

What I also find odd is that your log says:
[code]
It looks like cmake finds different C and CXX compilers (different versions of GCC), this may be related to the linking problem.
This is probably caused by environment variables that point to

[2021-12-19 13:19] mwydmuch commented on #491
Generally, there shouldn't be a problem when installing on conda env like this:
[code]

It looks like the C compiler (v 11.2.0) is installed in your `my_env_Vizdoom_T1` env. And (v 9.3.0) is system's C++ compiler.
More information about how you set up your conda env would be helpful to tell what went wrong exactly.

[2021-12-19 13:46] hamid2026 commented on #491
Hi @mwydmuch I did it again as you wrote, and set up a new conda env. And again I got the same error, but this time C and CXX compilers versions are the same.

Building wheel for vizdoom (PEP 517) ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 /tmp/tmprar8z9oy build_wheel /tmp/tmp1g3otn8o
       cwd: /tmp/pip-install-tyy10b42/vizdoom
  Complete output (423

[2021-12-19 14:34] mwydmuch commented on #491
It's not the same error. It clearly says that the Boost's include directory was not found. Are you sure that you have installed all the dependencies?

[2021-12-21 08:20] hamid2026 commented on #491
@mwydmuch Yes, Again I reinstalled everything and double-checked all dependencies. Here is the full log

pip install git+https://github.com/mwydmuch/ViZDoom.git
Collecting git+https://github.com/mwydmuch/ViZDoom.git
  Cloning https://github.com/mwydmuch/ViZDoom.git to /tmp/pip-req-build-1pe1acax
  Running command git clone -q https://github.com/mwydmuch/ViZDoom.git /tmp/pip-req-build-1pe1acax
  Re

[2021-12-21 12:00] mwydmuch commented on #491
@hamid2026 that's unexpected :( So if you run `apt list --installed | grep boost` it will list all boost libraries in version 1.71, right? If yes, then another thing that comes to my mind is that some environment variable (like `BOOST_ROOT`) points to some other installation of boost that is somehow broken. Have you installed some dependencies using `conda install` or all of them with `apt install

[2021-12-21 12:31] hamid2026 commented on #491
@mwydmuch Yes, apt list --installed | grep boost list my all boost libraries with 1.7.1 version, you can see log in below. Yes, I used conda install instead of apt install.

libboost-all-dev/focal,now 1.71.0.0ubuntu2 amd64 [installed]
libboost-atomic-dev/focal,now 1.71.0.0ubuntu2 amd64 [installed,automatic]
libboost-atomic1.71-dev/focal,now 1.71.0-6ubuntu6 amd64 [installed,automatic]
libboost-atom

[2022-01-03 23:36] #494 closed

[2022-01-09 13:16] alex-petrenko opened #495 "Linux PyPI installation fails (cannot find -lzstd)"
On a fresh Ubuntu 20 installation, after installing all the Linux dependencies from the README, the linking during installation still fails with the following error message:

[code]

Installing `libzstd-dev` seems to fix the issue:

[code]

[2022-01-09 13:23] Miffyli commented on #495
Thanks for reporting this!
@mwydmuch It seems like the [old building](https://github.com/mwydmuch/ViZDoom/blob/master/doc/Building.md) instructions differ from ones in README (I assume README one was updated related to recent-ish Boost stuff?). Maybe some of the dependencies listed in Building.md are necessary on new installations?

[2022-01-10 10:53] mwydmuch commented on #495
Thank you @alex-petrenko for reporting the problem. There is no dependency on libzstd in ViZDoom's code. But looks like pybind11 may link to it. I will add it to the dependencies. Interestingly Ubuntu images used by our building checks have libzstd1 (not the dev version) installed automatically. It seems that it is also a case for the Ubuntu-desktop images. Do you use some kind of other, minimal U

[2022-01-10 23:13] alex-petrenko commented on #495
@mwydmuch I use a Desktop Ubuntu 20.04. However, during the installation there is an option to opt out of installing part of standard software, such as office and video players. I selected this option which might have resulted in a more minimal installation than usual. Don't know if this library is present in a minimal server installation or not.

Besides, I recently found that it is possible to i

[2022-01-10 23:16] Miffyli commented on #495
Oooh thanks for the conda list! Do you want to whip up a PR to add these to README and BUILDING or may I do it (I do not want to steal credit)? :)

[2022-01-10 23:23] alex-petrenko commented on #495
@Miffyli feel free to submit a PR! This is not well-tested, I only maybe tried it on one system which wasn't completely clean, so I kept it to myself for now. Maybe some other libs are required. https://github.com/alex-petrenko/sample-factory/blob/master/sample_factory/envs/doom/README.md

[2022-01-14 12:17] mwydmuch commented on #495
@Miffyli @alex-petrenko Thank you for your comments and PR, this is very interesting. I've never found time to delve into the specific of conda. I'm surprised that `python setup.py build && python setup.py install` works while `pip install` fails. Possibly it can be easily fixed if this is just a path issue. Will look into it soon (in February I guess).

[2022-01-14 12:22] #170 closed

[2022-02-03 13:39] davidloveengles commented on #491
on mac, last I install success with conda!!!
[code]

[2022-02-10 15:10] XiYuan68 opened #498 "Failed to look around with mouse in spectator mode"
Hello, I am trying to play the game in spectator mode. Following the [tutorial](http://vizdoom.cs.put.edu.pl/tutorial#key_bindings), I can move the character left and right with `A` and `D`, but editing `freelook=true` in `_vizdoom.ini` doesn't allow the mouse to look around, am I missing something here?

This is how I start the game:

[code]

ViZDoom: 1.1.11
OS: Manjaro (Linux)
Python: 3.9.7

[2022-02-11 00:50] XiYuan68 commented on #498
Thanks for the help! It turns out that modifying `freelook=true` in` _vizdoom.ini` works in `deathmatch`, but not in `defend_the_center`, which I tried when posting the issue. Anyway, using `game.add_game_args()` to change key binding is more convenient! It would be nice to update the tutorial with new APIs. Again many thanks for the help in such a short time!

[2022-02-11 00:50] #498 closed

[2022-03-23 14:50] Tie-1 opened #501 "Errors when runnig basic.py"
Ubuntu20.04, use conda to create a environment, python=3.6.15, vizdoom=1.1.11.When I run basic.py, some errors hapeened:

Available buttons: ['MOVE_LEFT', 'MOVE_RIGHT', 'ATTACK']
Available game variables: ['AMMO2']
Gtk-Message: 22:45:21.345: Failed to load module "atk-bridge"
Gtk-Message: 22:45:21.347: Failed to load module "canberra-gtk-module"
Failed to allocate memory from system heap
Traceback

[2022-03-24 02:45] hzt-1999 commented on #409
@semihcanturk Hi, semihcanturk! I met the same problem, have you solved it? Can you give me some advice?

[2022-03-24 03:10] hzt-1999 commented on #365
Can you describe it in more detail and how to solve it？

[2022-03-24 03:14] hzt-1999 commented on #365
Can you describe it in more detail and how to solve it？

[2022-03-24 12:16] Miffyli commented on #409
@hzt-1999 can you provide more information on what are you trying to run (code) and what is your system (os, version, python version, vizdoom version, etc).

[2022-03-24 12:35] hzt-1999 commented on #409
OS: Ubuntu20.04 LTS
python: 3.6.15
vizdoom: 1.1.11
basic.py:
`#!/usr/bin/env python3

#####################################################################
# This script presents how to use the most basic features of the environment.
# It configures the engine, and makes the agent perform random actions.
# It also gets current state and reward earned with the action.
# <episodes> number of episode

[2022-03-24 12:43] Miffyli commented on #409
Hmm that one is tricky, as it seems to stem from the Boost library :s. I assume you installed the dependencies with the command from tutorials (the long list of `apt get` installs)? If not, could you try doing it with that?

If that fails, you could try the [conda](https://github.com/mwydmuch/ViZDoom#conda) way which installs boost libraries from conda repos.

[2022-03-29 10:22] mwydmuch commented on #501
Hello @Tie-1, I apologize for the late response. Since it's gtk error, it seems to be window related-issue. Have you tried to run the basic.py example with a disabled window (by setting `game.set_window_visible(False)`)?

It seems that installing `apt-get install libatk-adaptor libcanberra-gtk-module` may help.

[2022-04-03 14:08] Tie-1 commented on #501
I'm sorry for late response too. I try install libatk-adaptor libcanberra-gtk-module and set game.set_window_visible(False), but the same error occurred.
I could not sovle this question ,can you give me some advice?

[2022-04-10 00:55] HWerneck opened #502 "Labels buffer flickering"
Hey all!

I just ran into some trouble using the labels buffer.
First, it is giving the same value to both monsters, items and the walls.
Second, it is flickering, randomly changing the values of each element (floor, wall, monster, item). It happens specially when the agent shoots, like almost every time, but even so, not certainly.
My code ran very smooth using the basic.wad environment, and the

[2022-04-10 12:20] mwydmuch commented on #501
@Tie-1, so you still get:
[code]
Can you check you `/usr/lib/x86_64-linux-gnu/gtk-3.0/modules` and `/usr/lib/x86_64-linux-gnu/gtk-2.0/modules` directories? This is just a guess, but maybe setting something like `export LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu/gtk-2.0/modules:$LD_LIBRARY_PATH` or `export LD_LIBRARY_PATH=/usr/lib/x86_64-linux-gnu/gtk-3.0/modules:$LD_LIBRARY_PATH` will help.

[2022-04-10 13:36] mwydmuch commented on #502
Hi @HWerneck, you may want to check the labels buffer example: https://github.com/mwydmuch/ViZDoom/blob/master/examples/python/labels.py

So this is happening on your custom map, right? Can you share the map, so I can check what can be the cause of the issue?

This is expected behavior. The labels buffer is not designed to be a stable image. It can change values for the objects in every frame. To

[2022-04-12 05:35] HWerneck commented on #502
[env2_key.zip](https://github.com/mwydmuch/ViZDoom/files/8469790/env2_key.zip)
There you go, two of the custom maps.

I get it is not meant to be a stable image, but I didn't have the intention of adding labels to the elements. They are not so "out there" as the identification I actually accomplished, and I need to identify them in a more visible way. If I can get unique ids for each element, and

[2022-04-12 09:43] Miffyli commented on #502
I am not sure quite what you mean, but let me further explain what Marek told.

The numbers in `labels_buffer` are *not* IDs of objects; the numbers tell which of objects from `labels` (note that this is a different buffer!) is rendered at that pixel.

[Here](https://github.com/mwydmuch/ViZDoom/blob/master/gym_wrapper/base_gym_env.py#L206-L215) is an another code which renders different objects wi

[2022-04-13 11:50] HWerneck commented on #502
Hey @Miffyli! Thanks for the clarification.
I did know they were not IDs of objects, I used the word more like "a number that identifies the object being rendered at that pixel", but didn't think their value actually represented anything.
It takes a little more fiddling, but it is great to know I can consistently paint them on-screen. Nice! Thanks a lot for that.

Anyways, like I said, my script d

[2022-04-18 08:53] mwydmuch commented on #502
Hi @HWerneck, I'm sorry for the long response time about the problem with labels being colored to 0. I wrote the test for detecting such cases (https://github.com/mwydmuch/ViZDoom/blob/master/tests/test_labels_buffer.py). I run many episodes with standard scenarios, with your provided maps, and also I played ~10 minutes of the standard game myself to see if this kind of error will be detected. I d

[2022-05-03 14:27] CaptainAwesomeee opened #503 "Timout when using multiplayer"
Hello,
I have a certain issue running ViZDoom in multiplayer mode.
Whenever I start a multiplayer game (if host or player joining doesn't matter), it tells me that it is waiting for players to connect. After about a minute of waiting, vizdoom closes itself with the following output:

`Press 'Q' to abort network game synchronization.`
`Waiting for players: . [ 1/ 2]`
`Timeout, network game synchron

[2022-05-03 15:28] Miffyli commented on #503
I sadly do not have a linux machine right here to try this out. Some suggestions:

- Could you try `multiple_instances` examples instead of the `cig_multiplayer_host.py`? The CIG ones are pretty old examples, might be obsolete by now.
- There might be some suggestions [here](https://github.com/mwydmuch/ViZDoom/issues/391), but those are mainly around multiprocessing and multiple servers/clients.
-

[2022-05-06 15:12] CaptainAwesomeee commented on #503
Thanks for the advice! I looked into your suggestions, and found some things:

- The `multiple_instances` example does run interestingly, but if I remove the thread for the second player (so the host should just wait) it again has the timeout occuring. I guess I just need to connect my agents fast enough then? :D But it would be nice to be able to start the agents without time pressure, especially

[2022-05-06 15:47] Miffyli commented on #503
Good that there is some progress 😅 . I do not have further tips to give, other than a bad one ("could you modify your code so that all vizdoom instances launch roughly at the same time?" etc).

This should be in seconds, judging by the code, and by default it should be 60 (= one minute). I am still lacking a Linux machine to try things out, but given the simple logic behind this argument, it shoul

[2022-05-06 16:53] mwydmuch commented on #503
Hello @CaptainAwesomeee,

I confirm what @Miffyli said: `+viz_connect_timeout` argument specifies the timeout in seconds, by default value is 60 (1 minute). I checked it a moment ago with `cig_multiplayer.py` and `cig_multiplayer_host.py` examples and it works as expected (both timeout and the rest of the examples). And it can be set to some reasonably large number (e.g. 600 for 10 minutes).

I un

[2022-05-10 16:18] CaptainAwesomeee commented on #503
Hi,

thank you for your help. I still have the issue that the argument does not do anything for me. No matter what value I choose, it always results in a timeout after the default 60 seconds.

Exactly as you assumed, I run the agent and the server seperate. My current setup is having the agent(s) run in docker containers (as you guessed correctly :D), and having the server run in another container

[2022-05-17 09:52] McFredward opened #504 "Much slower game if the window is minimized on Windows11"
I've encountered that the training of my DQN with python is like 10 times slower if the game window is not in focus or minimized on _Windows 11_. That's also the case if the the game window is not visible with `set_window_visible(False)` but the console window is minimized or not in focus.

I'm sure that is not an issue with with ViZDOOM but with Windows (or Nvidia drivers?) which somehow throttle

[2022-05-17 10:42] mwydmuch commented on #504
Hello @McFredward, thank you for reporting the problem. Unfortunately, I've never encountered a similar problem, but 99% of the time I use Linux/MacOS. I will check if this also occurs on my machine and will get back to you.

[2022-05-18 19:13] bebeal opened #505 "Expand Gym Wrapper"
### Expand Gym Wrapper

I think it would be beneficial to expand the gym wrapper, specifically I think a good start would be the following improvements:

1. Allowing for all ViZDoom Screen Types
2. Allowing for delta buttons to be an option
3. Allowing for multiple buttons to be selected at once

I've been using a personal gym wrapper I made a while ago (https://github.com/bebeal/VizDoomGym) based

[2022-05-18 19:30] Miffyli commented on #505
Hey! Yup, I definitely agree with 2)  and 3). For 1), there is not really much reason to use other screen types, apart from GRAY8, but I am not sure if we want to encourage not using RGB images.

But yes, better support for varying action spaces would be better, as the single-button-at-time is [far from ideal](https://arxiv.org/abs/2004.00980) (done using [this env](https://github.com/Miffyli/rl-a

[2022-05-20 04:03] bebeal commented on #505
Fair enough on the screen types.

Hm why do you want to define how many buttons can be down at a time instead of allowing all of them to be down at once? Will the emulator break under certain circumstances? I guess I just assumed the user could easily limit that themselves if they were trying to put a constraint on an agent.

I'm not so much a fan of forcing discretization as one of the specific u

[2022-05-21 09:49] Miffyli commented on #505
The main reasoning is that if you enable many buttons, creating all possible combinations of pressing them down (if you use `Discrete` space instead of `MultiDiscrete`) will create a huuuuge number of options. Limiting number of buttons pressed down is a simple way to prevent this. We could let user control this, too, with a `Wrapper`, but I think in its default (`Wrapper`-less) behaviour it shoul

[2022-05-23 12:39] jbrea opened #506 "Cross compilation fails"
I'm trying to cross-compile ViZDoom 1.1.13 (see [here](https://github.com/JuliaPackaging/Yggdrasil/pull/4933)), but it fails with errors

[code]

Am I doing something wrong?

[2022-05-23 15:01] Miffyli commented on #506
Pinging @mwydmuch as he is the wizard who understands all of this makefile stuff 🙃

[2022-05-23 19:51] mwydmuch commented on #506
Hello @jbrea, ViZDoom doesn't officially support cross-compilation. There are some parts in CMakeFilles that suggest that someone used it for ZDoom, but it wasn't and still isn't documented. Personally, I've never tried to cross-compile ViZDoom.

Maybe there is a way to make cross-compilation work, but unfortunately, at the moment, I'm not sure if I'm able to help you. I suggest trying to create s

[2022-05-23 20:10] giordano commented on #506
C++03 refers to [GCC C++03 `std::string` ABI](https://gcc.gnu.org/onlinedocs/libstdc++/manual/using_dual_abi.html), which does ***not*** have anything to do with the standard of the source code.

[2022-05-23 20:18] mwydmuch commented on #506
@giordano I haven't known about it, thank you. This makes a lot of sense.

[2022-05-24 06:57] jbrea commented on #506
Thanks a lot for the feedback!

[2022-06-12 19:35] bebeal commented on #505
Got around to making a [PR](https://github.com/mwydmuch/ViZDoom/pull/508).

Lastly, I read the paper, it's definitely difficult but still possible ;-) https://github.com/bebeal/ContinuousDoom

[2022-06-16 14:52] Vigilans opened #510 "Deprecation warning of old cmake policy CMP0026"
### Issues

Newer version of cmake (cmake version 3.23.2) will produce a deprecation warning of OLD cmake_policy that cannot be turned off:

https://github.com/mwydmuch/ViZDoom/blob/ee8c6b10a09397981e38f1ba6c1bb9ef7eb204ab/cmake_modules/CreateLaunchers.cmake#L47-L49

Will produce message like:
![image](https://user-images.githubusercontent.com/20227484/174097088-c596561c-fb89-43b3-aacf-dc6aa6e0151

[2022-06-20 00:13] mwydmuch commented on #510
Hello @Vigilans, thank you for this remark, functions defined in this file are used only by MSVC Windows build, so unless you tested it on Windows, then they are not necessarily safe to remove. I added the condition that silence this warning when using other environments.

[2022-06-20 07:29] Vigilans commented on #510
Thanks for your reply and commit! I've tested it in my project and the warning is properly fixed now.

[2022-06-20 07:29] #510 closed

[2022-06-26 18:35] bebeal commented on #505
Added per https://github.com/mwydmuch/ViZDoom/pull/508

[2022-06-26 18:35] #505 closed

[2022-06-28 16:25] McFredward opened #512 "Global reward for all agents in multiplayer"
I'm trying to implement a custom Multiplayer-Deathmatch Scenario with a custom ACS-Script.
I want to punish shots, health decrease and death and reward killing other players.

<details>
<summary><b>Therefore, I've coded this ACS-Script</b></summary>

    #include "zcommon.acs"
    global int 0:reward;

    script 1 OPEN
    {
        reward = 0;
	    Thing_ChangeTID(0, 1000 + PlayerNumber());

[2022-06-28 22:49] Miffyli commented on #512
I am not 100% sure how to fix this on ACS side, but you could do this on the Python side by reading the GAME_VARIABLEs and constructing reward function based on the variables from there. You could also check other multiplayer-related repositories which work on these things, such as [sample-factory](https://github.com/alex-petrenko/sample-factory) to see if they some guidance to offer :)

[2022-06-28 23:52] mwydmuch commented on #512
Hi @McFredward, unfortunately, some of the ACS functions aren't well designed for the multiplayer, so you need to be extra careful when writing the scripts. It's a good idea to use functions that allow you to specify the actor id. In this case I would replace `CheckInventory("Clip");` with `CheckActorInventory(1000 + PlayerNumber(), "Clip");` function.

[2022-06-29 00:10] mwydmuch commented on #512
Also, please note, that ID is assigned to an actor (object present in the game world) when the player dies in multiplayer his body (actor) stays on the map as a corpse, and a new actor is assigned to the player after respawning. Your script assigns a new id to actors only once at the beginning of the map (OPEN script). To be honest I'm not even sure if this is valid since OPEN happens before playe

[2022-06-29 09:13] McFredward commented on #512
Thanks for your response! I've tried your recommendations but this couldn't fix the issue that all changes to the reward with the ACS-script are globally changed for all players within the map.

As recommended by @Miffyli , I now shifted the reward-calculation to the python script and left the ACS-script more or less empty. With the help of the Game Variables I was able to determine a reward for e

[2022-06-29 09:13] #512 closed

[2022-06-29 15:55] mwydmuch commented on #512
This made me think that it might be a good idea to add a function that allows you to select which global variable is interpreted as a reward (now it's always 0). This would allow solving this exact problem in a more elegant way. What do you think @Miffyli?

[2022-06-29 19:08] Miffyli commented on #512
Could potentially be useful to situations like this, and I like the fact it would contain the environment definitions in the scenario file so you do not have to remember to update the Python side :D. But I do not see a big hurry for it.

[2022-07-02 16:27] Neuroosi commented on #268
Hey, im trying to make my agent to play doom dm(deathmatch.wad), but for some reason bots wont die :D Any suggestions?

[2022-07-02 16:39] Miffyli commented on #268
FRAGCOUNT measures the number of "frags" in a multiplayer game, not the number of monster kills (which are used in deathmatch.wad). Use `KILLCOUNT` instead.

(Sidenote, but the `KILLCOUNT` will include all kills done by anybody in the game, even when monsters kill each other)

[2022-07-02 16:42] Neuroosi commented on #268
I removed the monsters and added bots(from bots.cfg) instead.

[2022-07-02 16:48] Miffyli commented on #268
Hmm in that case it might still need to add `-deathmatch` flag to launch parameters for it to start tracking. [This code](https://github.com/Miffyli/gan-aimbots/blob/main/recording.py) running bots around correctly tracks FRAGCOUNT.

[2022-07-22 01:35] hughperkins opened #513 "Cannot record games on linux"
### Questions, features suggestions and requests

If you have a question, features suggestions or requests, do not hesitate to ask.
However, you can check **[FAQ](doc/FAQ.md)** section and already existing issues with "question" tag ([is:issue label:question](https://github.com/mwydmuch/ViZDoom/issues?utf8=%E2%9C%93&q=is%3Aissue+label%3Aquestion)) first.

### Issues

If you encountered an issue, p

[2022-09-24 01:50] zhangfeifan21 opened #515 "Cannot install on macOS"
I cannot install vizdoom on my mac, and I've installed all the dependencies listed, but the build cannot be done.
The logs are here:

Collecting git+https://github.com/mwydmuch/ViZDoom
  Cloning https://github.com/mwydmuch/ViZDoom to /private/var/folders/y0/n_cj227x387fj_gkyl2973s80000gn/T/pip-req-build-56a67vbb
  Running command git clone --filter=blob:none -q https://github.com/mwydmuch/ViZDoom

[2022-09-24 11:48] Miffyli commented on #515
Hey. I assume you are on M1 chips? Those have known to cause trouble. Check out this thread for potential tips: https://github.com/mwydmuch/ViZDoom/issues/485

[2022-09-24 19:09] mwydmuch commented on #515
Hi @zhangfeifan21, thanks for opening the issue. First, the direct reason for your problem is that the building system (cmake) can't find the SDL2 library. Is it possible that you installed it in some custom way, e.g., in some custom location?
Can you check what is the output of `brew --prefix sdl2` command?

Second, this is not the direct reason for the error at this step, but will probably cause

[2022-09-24 19:41] zhangfeifan21 commented on #515
I'll try to update python to 3.7, and it's `/opt/homebrew/opt/sdl2`

[2022-09-24 19:57] zhangfeifan21 commented on #515
I've updated python to 3.7 and modified the four lines in resampler.c but there's still an error.
The outputs are:
Processing /Users/zhangyifei/ViZDoom
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting numpy
  Using cached numpy-1.21.6-cp37-cp37m-macosx_10_9_x86_64.whl (16.9 MB)
Building wheels for coll

[2022-09-25 01:05] mwydmuch commented on #515
@zhangfeifan21, your SDL2 path confirms that you are using M1 Mac since `/opt/homebrew` is a path used for ARM packages. As @Miffyli wrote, it's difficult for us to support M1 Macs, since we don't own such machines at the moment, and M1 instances are not easily available. I'm sorry but you may need to fix a few things to make ViZDoom work on M1 Mac (if you figure that out, please make PR with your

[2022-10-11 14:54] zfwang615 commented on #491
@mwydmuch Hi, I've got some problems with the installation.
I created a new venv with miniconda, python = 3.8
I followed the build instructions to check and install the dependencies.  [scripts/linux_check_dependencies.sh], ZDoom dependencies, Boost libraries, Python 3, and Julia.
At first, I tried to install it with "pip install vizdoom", I got the error just like @libphy
`ERROR: Could not build w

[2022-10-12 16:47] Miffyli commented on #491
@zfwang615 For reasons I could not understand, conda install with pip breaks up like that. Try the instructions here: https://github.com/mwydmuch/ViZDoom#conda

[2022-10-13 02:15] zfwang615 commented on #491
@Miffyli Thank you!
On Ubuntu 20.04, the conda env mentioned before, I've trid to install with conda instructions('python setup.py build && python setup.py install') and got a CMake Error.
`running build
CMake Warning:
  No source or binary directory provided.  Both will be assumed to be the
  same as the current working directory, but note that this warning will
  become a fatal error in future C

[2022-10-22 16:19] romulofff commented on #365
Hi, I'm using Ubuntu 20.04, Python 3.8.10 and I have the same error

I tried reducing my code to this 3 lines, and still had the same problem:
[code]

I installed vizdoom first with `pip install vizdoom`. Then tried `pip install git+https://github.com/mwydmuch/ViZDoom` and it failed again. Any fix for this?

[2022-10-25 07:13] zfwang615 opened #516 "ValueError: setting an array element with a sequence. in learning_stable_baselines.py"
I'm trying to use [examples/python/learning_stable_baselines.py](https://github.com/mwydmuch/ViZDoom/tree/master/examples/python/learning_stable_baselines.py). This example has some questions. By the way, `learning_pytorch.py` works well.

MY ENV INFO:
- ubuntu 20.04.5
- conda python 3.8.13
- vizdoom 1.1.14
- stable_baselines3 1.6.2

First, the env is using 'screen' instead 'rgb' now.

[code]
Afte

[2022-10-25 17:11] Miffyli commented on #516
Hey! Sounds like something has gone off with the changes for Gym support. Make sure you are using the newest code when trying things out (clone from the github), but beyond that I do not have bandwidth to debug what could have gone wrong :(.

[2022-11-30 21:36] rxng8 opened #517 "Error in building VizDoom with anaconda environment (and sudo) with CMake 3.25 and Boost 1.70."
### Issues

* description of an issue: Error in building VizDoom with anaconda environment (and sudo) with CMake 3.25 and Boost 1.70.
* ViZDoom version: currnent master branch,
* information about your OS platform, distribution and environment (GCC, Python, Java, Lua versions etc.): Ubuntu 22.04, python 3.8, anaconda3, using anaconda3 environment.
* Here is the log output when building with `pip i

[2022-11-30 21:46] mwydmuch commented on #517
Hi @rxng8, thank you for opening the issue, I see similar issues reported in other C++/CMake repositories, seems to be a problem with this specific version of Boost 1.70, could you try to upgrade or downgrade it? Meanwhile, I will try to investigate and search for a better solution.

[2022-11-30 21:58] mwydmuch commented on #141
This was fixed.

[2022-11-30 21:58] #141 closed

[2022-11-30 21:59] mwydmuch commented on #167
This was fixed.

[2022-11-30 21:59] #167 closed

[2022-11-30 22:00] mwydmuch commented on #143
Closing an old issue, NumPy support was rewritten, and Python 2.7 is no longer supported.

[2022-11-30 22:00] #143 closed

[2022-11-30 22:05] mwydmuch commented on #328
Closing, Windows wheels are available via PyPI for a while now.

[2022-11-30 22:05] #328 closed

[2022-11-30 22:06] mwydmuch commented on #200
Old issue, closing.

[2022-11-30 22:06] #200 closed

[2022-11-30 22:07] mwydmuch commented on #198
Old issue, closing.

[2022-11-30 22:07] #198 closed

[2022-11-30 22:08] mwydmuch commented on #183
At this point, 100% it won't be changed in the original API, closing.

[2022-11-30 22:08] #183 closed

[2022-11-30 22:18] mwydmuch commented on #177
This is an edge case, I don't think it requires fixing. Closing.

[2022-11-30 22:18] #177 closed

[2022-11-30 22:24] #410 closed

[2022-11-30 22:26] mwydmuch commented on #204
Old issue, closing.

[2022-11-30 22:26] #204 closed

[2022-11-30 22:28] mwydmuch commented on #175
Old issue, closing.

[2022-11-30 22:28] #175 closed

[2022-11-30 22:29] mwydmuch commented on #406
Old issue, conda support was improved since then. Closing.

[2022-11-30 22:29] #406 closed

[2022-11-30 22:30] mwydmuch commented on #174
Old issue, closing.

[2022-11-30 22:30] #174 closed

[2022-11-30 22:32] mwydmuch commented on #226
This is fixed if I remember correctly. Closing.

[2022-11-30 22:32] #226 closed

[2022-11-30 22:33] mwydmuch commented on #231
Old issue, conda support was improved, closing.

[2022-11-30 22:33] #231 closed

[2022-11-30 22:34] mwydmuch commented on #240
Old issues + a lot of Windows issues were resolved in the last years.

[2022-11-30 22:34] #240 closed

[2022-11-30 22:34] mwydmuch commented on #243
Old issue, related old OS X and Boost version, closing.

[2022-11-30 22:34] #243 closed

[2022-11-30 22:35] mwydmuch commented on #251
Old issue, related to old OS X and Boost version, closing.

[2022-11-30 22:35] #251 closed

[2022-11-30 22:37] mwydmuch commented on #294
Old issue, closing.

[2022-11-30 22:37] #294 closed

[2022-11-30 22:55] mwydmuch commented on #339
As stated above, this feature was added and works but needs to be used carefully. Closing.

[2022-11-30 22:55] #339 closed

[2022-11-30 23:42] wingless75 commented on #179
You can run vizdoom with the remote desktop.
Just check all available resolutions.
I can run vizdoom with RES_1280X800, RES_640X400.
[resolutions](https://github.com/Farama-Foundation/ViZDoom/blob/master/doc/Types.md#screenresolution)